@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'KyivTypeTitling';
  src: url('../fonts/KyivTypeSans-VarGX.ttf') format('truetype');
  /* Другие форматы шрифта, если необходимо */
}

@font-face {
  font-family: 'KyivTypeMainText';
  src: url('../fonts/Ouroboros.ttf') format('truetype');
}

body {
  // overflow-y: hidden;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}

a:hover {
  color: #dbd7a3;
  font-weight: 700;
}

a.footer-list-words:hover {
  font-size: 30px;
  color: #191f37;
}

.container {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 175px;
  padding-right: 175px;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;

  height: 120px;
}

.main-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 34px;
  line-height: 1.17;
  margin-left: 320px;
}

@media only screen and (min-width: 1700px) {
  .main-title {
    margin-left: 620px;
  }
}

.home-logo {
  cursor: pointer;
  transition: all 300ms;
}

.home-logo:hover {
  fill: #dbd7a3;
}

.header-nav {
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  margin-left: 100px;
}

@media only screen and (min-width: 1500px) {
  .header-nav-list {
    margin-left: 200px;
  }
}

.nav-list-item {
  font-family: 'KyivTypeTitling', sans-serif;
  letter-spacing: 0.6;
  font-size: 16px;
  font-weight: 600;
}

/**
  |============================
  | HERO
  |============================
*/

.hero {
  display: flex;
  flex-direction: row;
  height: 918px;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px 15px;
}

.first-block {
  background-color: #dbd7a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px 15px;
}

.main-hero-title {
  text-align: center;
  font-family: 'KyivTypeMainText';
  font-size: 90px;
  height: 390px;
  letter-spacing: 4px;
  font-weight: 100;
}

.button-buynow {
  border: none;
  outline: none;
  width: 310px;
  height: 90px;
  border: 3px solid #191f37;
  padding: 10px;
  font-size: 46px;
  color: #191f37;
  background-color: #efcb8d;
  transition: all 300ms;
  border-radius: 3px;
}

.button-buynow:hover {
  background-color: #b99c6b;
  cursor: pointer;
}

.second-block {
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px 15px;
  background-color: #191f37;
  position: relative;
  padding-top: 100px;
}

.second-block-text {
  font-family: 'KyivTypeTitling', sans-serif;
  font-weight: 5;
  max-width: 1900px;
  color: #dbd3a3;
  font-size: 38px;
  padding-left: 100px;
  padding-right: 120px;
}

@media only screen and (min-width: 1700px) {
  .second-block-text {
    font-size: 44px;
  }
}

.logo-hero {
  height: 300px;
  width: 300px;
}

.img-div {
  position: absolute;
  top: 600px;
  right: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-div-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (min-width: 1500px) {
  .img-div {
    top: 580px;
    right: 300px;
  }
}

.img-div-text {
  font-family: 'KyivTypeTitling', sans-serif;
  font-weight: 5;
  color: #dbd7a3;
  font-size: 40px;
}

/**
  |============================
  | Gallery Section
  |============================
*/

.gallery {
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px 15px;
  z-index: 999;
  background-color: #191f37;
  height: 1000px;
  display: flex;
}

.gallery-h2 {
  font-family: 'KyivTypeMainText';
  font-size: 100px;
  color: #dbd3a3;
  letter-spacing: 5;
  margin-top: 100px;
  font-weight: 1;
  margin-left: 70px;
  margin-bottom: 40px;
}

.gallery-ul-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo-letters {
  padding: 0;
  margin: 0;
  font-family: 'KyivTypeMainText';
  font-weight: 1;
  max-width: 1900px;
  color: #dbd3a3;
  font-size: 64px;
}

.gallery-ul {
  list-style: none;
  display: flex;
  position: relative;
  gap: 20px;
  margin: 0;
}

.gallery-ul-sec {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  justify-content: center;
  list-style: none;
  align-items: center;
}

.gallery-ul-sec-li-div {
  width: 25vw;
  height: 300px;
  background-color: rgb(224, 199, 166);
  border-radius: 15px;
  transition: all 300ms;
}

@media only screen and (min-width: 1500px) {
  .gallery-ul-sec-li-div {
    width: 25vw;
    height: 350px;
  }
}
@media only screen and (min-width: 1500px) {
  .gallery-ul-sec {
    gap: 70px;
  }
}

.gallery-ul-sec-li-div:hover {
  transform: scale(1.1);
}
.gallery-img-one {
  border-radius: 12px;
  transition: all 300ms;
}

.gallery-img-zero {
  margin-top: 30px;
  transition: all 300ms;
}
.gallery-img-zero:hover {
  transform: scale(1.1);
}

.gallery-image-div {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.gallery-image-div-p {
  margin-right: 30px;
  font-size: 30px;
  margin-top: 80px;
  margin-left: 80px;
  width: 400px;
  color: #dbd3a3;

  font-weight: 100;
  font-family: 'KyivTypeTitling';
}

@media only screen and (min-width: 1550px) {
  .gallery-img-zero {
    width: 600px;
    height: 550px;

    margin-top: 10px;
  }
}

@media only screen and (min-width: 1550px) {
  .gallery-image-div-p {
    width: 500px;
    font-size: 34px;
    margin-right: 150px;
  }
}

#gallery-img-0:hover {
  scale: 105%;
  // border: 3px solid #dbd7a3;
}

.gallery-img-one:hover {
  scale: 105%;
  // border: 3px solid #dbd7a3;
}

.gallery-img {
  border-radius: 12px;
}

#gallery-img-0 {
  z-index: 999;
  position: absolute;
  top: 500px;
  right: 680px;
  height: 400px;
  transition: all 300ms;
}

@media only screen and (min-width: 1550px) {
  #gallery-img-0 {
    top: 400px;
    right: 750px;
  }
}

#gallery-img-1 {
  position: absolute;
  top: 500px;
  right: 100px;
}

#gallery-img-2 {
  position: absolute;
  top: 70px;
  right: 100px;
}

#gallery-img-3 {
  position: absolute;
  top: 71px;
  right: 750px;
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer {
  box-shadow: -3px -21px 40px -8px rgba(0, 0, 0, 0.75);
  background-color: #dbd7a3;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.footer-list-one {
  display: flex;
  list-style: none;
  gap: 100px;
  margin: 0;
}

.footer-list-one-item {
  font-family: 'KyivTypeTitling', sans-serif;
  font-size: 26px;
}

.footer-list-two {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.svg-foot {
  cursor: pointer;
  transition: all 300ms;
}

.svg-foot:hover {
  // fill: white;
  height: 60px;
  width: 60px;
}

/**
  |============================
  | CATALOG 
  |============================
*/

.catalog-section {
  background-color: #191f37;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px 15px;
}

.catalog-ul {
  margin: 0 auto;

  padding: 0;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
}

.catalog-li {
  background-color: #dbd3a3;
  margin: 0;
  padding: 0;
  height: 350px;
  width: 350px;
  border-radius: 8px;
  transition: all 300ms;
}

.catalog-li:hover {
  transform: scale(1.2);
}

.catalog-item {
}
